
.header {
  height: 80px;
  width: 100%;
  background-color: #008080;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.header .searchBar{
  width: 20%;
  height: 40px;
  border-radius: 15px;
  padding: 15px;
  box-shadow: none;
  transition: all .2s;

}

.header .searchBar:focus {
  outline: none;
  width:40%;
}

.search__button{
  border: none;
  margin-left: -3em;
}

.search__button:focus{
  outline: none;
}

.search__icon{
  height: 1.5rem;
  width: 1.5rem;
}

.search__results{
  border-bottom: 1px solid #008080;
  margin-bottom: 1rem;
  width: 50%;
  margin: 30px auto;
}

.albums-body{
  padding-top: 100px;
}

.albums-body h2{
  text-align: center;
}

.albumsLists{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album{
  margin: 10px;
  border: 1px solid #ccc;
  width: 12rem;
  border-radius: 10px;
  background-color: #ccc;
}

.album:hover{
  border: 1px solid #008080;
}


